* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.country {
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    min-height: 150px;
    border-radius: 4px;
    text-align: center;
    
}

.country h2 {
    min-height: 88px;
    
}